{% extends 'publicStructure.html' %}
{% block content %}
	<div class="row mt-5">
		<div class="col-12">
			<h1 class="text-center">Pedido</h1>
			<!-- <p>Platos solicitados</p> -->
		</div>
	</div>


{% for id, item, cantidad  in items %}
		<article class="row mt-3">
			<div class="col-12">
				<p class="text-primary">({{cantidad}}) {{item}} $ {{item.price}}
				<a href="{% url 'cartItemChange' pk=id %}" class="btn btn-primary btn-sm">Modificar cantidad</a>
				<a href="{% url 'cartItemDelete' pk=id %}" class="btn btn-secondary btn-sm">Eliminar</a></p>
			</div>
		</article>
	{% empty %}
		<p class="text-center">No hay productos agregados en tu pedido.</p>
	{% endfor %}


    {% if pedidos %}
		<article class="row mt-5">
			<div class="col-12">
            <ul>
				<p class="text-primary">Total: $ {{total}}</p>
				<a href="{% url 'cartConfirm' %}" class="btn btn-success">Confirmar pedido</a>
				<a href="{% url 'cartClear' %}" class="btn btn-danger">Borrar carrito</a>
           </ul>
			</div>
		</article>
{% endif %}

{% endblock %}
