{% extends 'publicStructure.html' %}
{% block content %}
	<div class="row mt-5">
		<div class="col-12">
			<h1 class="text-center">Solicitud</h1>
			<!-- <p>Platos solicitados</p> -->
		</div>
	</div>

    {% if items|length == 0 %}
    <h2 class="text-center">No hay ítems cargados.</h2>
    {% endif %}
	{% for item, cantidad  in items %}
		<article class="row mt-3">
			<div class="col-12">
				<p class="text-primary">({{cantidad}}) {{item}} $ {{item.price}}</p>  
			</div>
		</article>
	{% endfor %}
    

    {% if pedidos %}
		<article class="row mt-5">
			<div class="col-12">
            <ul>
				<a href="{% url 'cartConfirm' %}" class="btn btn-success">Confirmar pedido</a>
           </ul>
			</div>
		</article>
{% endif %}

{% endblock %}