{% extends 'publicStructure.html' %}
{% block content %}
	<div class="row mt-5">
		<div class="col-12">
			<h1 class="text-center">Oferta gastronómica</h1>
			<p>A Continuación encontrarán todos los platos disponibles en el local</p>
		</div>
	</div>
{% if pedidoss|length > 0 %}
		<article class="row mt-5">
			<div class="col-12">
            <ul>
				<li></li><a href="{% url 'cartView' %}">Ver pedido</a></li>
				<li></li><a href="{% url 'cartConfirm' %}">Confirmar pedido</a></li>
            </ul>
			</div>
		</article>
{% endif %}

	{% for item in items %}
		<article class="row mt-3">
			<div class="col-12">
				<h2 class="text-center"><a href="{% url 'itemView' pk=item.pk %}">{{item.name}}</a></h2>
			</div>
		</article>
	{% endfor %}
{% endblock %}