{% extends 'publicStructure.html' %}
{% block content %}
	<div class="row mt-5">
		<div class="col-12">
			<h1 class="text-center">Oferta gastronómica</h1>
			<p>A Continuación encontrarán todos los platos disponibles en el local</p>
		</div>
	</div>
	{% for item in items %}
		<article class="row mt-3">
			<div class="col-12">
				<h2 class="text-center">{{item.name}}</h2>
				<p class="text-primary">{{item.description|linebreaksbr}}</p>
				<p class="text-secondary">precio: ${{item.price}}</p>
			</div>
		</article>
	{% endfor %}
{% endblock %}