{% extends 'publicStructure.html' %}
{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			Usuario y contraseña incorrectos. por favor verifique sus datos y vuelva a intentarlo
		</div>
	{% endif %}

	<form class="form-siging" method="POST">
		{% csrf_token %}
		<h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
		<p>Para ingresar deberá  identificarse.</p>
		<label for="id_username" class="sr-only">Usuario:</label>
		<p>Usuario</p> 
		{{form.username}}
		<br></br>
		<label for="inputPassword" class="sr-only">Contraseña</label>
		<p>Contraseña</p>
		{{form.password}}
		<br></br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
	</form>
	<a href="{% url 'password_reset' %}">Recuperar contraseña</a>
    {% endblock %}